language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-padded -Wno-deprecated -Wno-c++98-compat -Wno-missing-prototypes -Wno-exit-time-destructors main.cpp Pizza.cpp Guitar.cpp Airliner.cpp GuitarStore.cpp Party.cpp Wrappers.cpp && ./a.out"
